* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgb(10, 16, 43);
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10;
}

window {
    margin-top: 10;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color:#ffffff    
}

#workspaces button.active {
    background-color: rgb(137, 180, 250);
    border-radius: 100px;
    box-shadow: rgba(137, 180, 250, .2) 0 -25px 18px -14px inset,rgba(137, 180, 250, .15) 0 1px 2px,rgba(137, 180, 250, .15) 0 2px 4px,rgba(137, 180, 250, .15) 0 4px 8px,rgba(137, 180, 250, .15) 0 8px 16px,rgba(137, 180, 250, .15) 0 16px 32px;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
}

#workspaces button:hover {
    background: rgb(137, 180, 250);
    border-radius: 100px;
    box-shadow: rgba(137, 180, 250, .35) 0 -25px 18px -14px inset,rgba(137, 180, 250, .25) 0 1px 2px,rgba(137, 180, 250, .25) 0 2px 4px,rgba(137, 180, 250, .25) 0 4px 8px,rgba(137, 180, 250, .25) 0 8px 16px,rgba(137, 180, 250, .25) 0 16px 32px;
}

#custom-launch_wofi,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#custom-media,
#tray,
#window,

#workspaces {
    margin: 0 4px;
}

#clock {
    margin-left: 10px;
    font-size: 15px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    font-size: 16px;
}

#memory {
    font-size: 16px;
}

#pulseaudio {
    font-size: 16px;
    padding-right: 6px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 1px;
    font-size: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 10px;
    font-size: 22px;
}
